<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oscar.wallet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Views.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Views.Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Activities.AccountNewActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activities.IncomingActivity"
            android:label="@string/title_activity_operation"
            android:theme="@style/AppThemeOperationIncoming.NoActionBar" />
        <activity
            android:name=".Views.Activities.ExpenseActivity"
            android:label="@string/title_activity_expense"
            android:theme="@style/AppThemeOperationExpense.NoActionBar" />
        <activity
            android:name=".Views.Activities.IncomeActivity"
            android:label="@string/title_activity_income"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activities.AccountListActivity"
            android:label="@string/title_activity_list_accounts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Activities.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>